<!DOCTYPE html>
<html>
    <head>
        <title>
                WebApp
        </title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    
    <body>
        <h1 class= "text-center"> 
            Emotion Detection
        </h1>
        <form method="POST" class="text-center">
            <input type="text" name="inp" placeholder="Enter text for analysis">
            <input type="submit" name="submit" id="btn" class="btn btn-primary mt 3" value="Predict Emotion">
        </form>
        <h1 class="text-center">{{prediction}}</h1>
             
    </body>
</html>